@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
body{
	font-family: 'DejaVu Sans',sans-serif;
}
:root{
    --f7-theme-color:#e88b8b;
    --f7-navbar-bg-color: #e88b8b; /*navbar*/
    --f7-navbar-text-color:#000; /*color texto navbar*/
	--f7-bars-link-color:#000; /*color íconos navbar*/
    --f7-bars-bg-color:#fff; /*toolbar*/
	--f7-tabbar-link-inactive-color: #0e3746; /*toolbar links*/
	--color-azul:#0e3746;
	--color-gris:#dadde1;
}

.backgroundb{
	background-color: #000;
	
}
.block-title{
	color: #fff;
}
h2{
	color: var(--f7-bars-bg-color);
	margin-top: 10px;
	position: absolute;
	left: 140px;
	width: 10%;
	
}

.second{
	background-color:#e88b8b;
	padding: 10px 0px 10px 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 10px;	
	height: 50px;
}
.second a{
	color: var(--f7-navbar-text-color);
}
h4.commi {
	color: #fff;
    font-size: 12px;
	margin-right: 1px;
	margin-top: 10px;
	padding: 6px !important; 
	display: inline-block;
}

.commi a{
	background-color:#e88b8b;
	color: #fff;
	border-radius: 8px;
	padding: 6px;
	display: inline-block;
	
}

.acom a{
	background-color:#e88b8b;
	color: #fff;
	border-radius: 8px;
	margin-left: 150px;
	padding: 10px;
	
}

.coma a{
	background-color:#e88b8b;
	color: #fff;
	border-radius: 8px;
	padding: 6px;
	margin-left: 87px;
	display: inline-block;
	
}


.inout{
	margin-bottom: 60px;
}

.inout a{
	background-color:#e88b8b;
	color: #fff;
	border-radius: 10px;
	margin-left: 40px;
	text-indent: 1px;
}

.title{
	font-size: 30px;
	line-height: normal;
}

.top-panel{
	background-color: var(--f7-theme-color);
	color: #fff;
	padding: 20px 0;
	text-align: center;
	font-weight: 500;
}
.panel .list{
	margin-top: 0;
}
.panel .list ul::before,
.panel .list ul::after{
	background-color: transparent;
}
.panel .list .item-inner::after{
	background-color: transparent;
}
.panel .list span{
	color: #e88b8b;
}
.panel .list{
	font-size: 14px;
}



.sale{
	padding: 5px 20px;
	color: #fff;
	border-radius: 5px;
}
.sale h3{
	font-size: 24px;
}
.sale .button{
	display: inline;
	padding: 5px 10px;
	font-size: 12px;
}
.profile-pic{
	background-image: url("../img/1s.PNG");
	width: 100px;
}
.fotoredonda{
	width: 200px;
	height:200px;
	border-radius: 150px;
	padding: 40px;
	margin-left: 10px;
	margin-top: 0px;
}



.img-fluid{
	max-width: 100%;
	display: block;
}


.productos .button{
	font-size: 12px;
	width: 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.productos .card-footer{
	padding: 0;
	min-height: 0;
}
.productos .card-header{
	padding: 0;
}

#login.page{
	
	z-index: 1000;
	
}

#login.login-screen-content{
	color:white;
	font-weight: 400;
	
	
}

.login-screen-page {
    background: #faadad;
	
	}
.login-screen .page, .login-screen-content, .login-screen-page {
    background: #faadad;
	color: black;
	font-family: 'DejaVu Sans'sans-serif;
	font-size: 10px;
	font-weight: 200;
}


a {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
	font-size: 15px;
	
	}

.list .item-floating-label, .list .item-label {
    width: 100%;
    vertical-align: top;
    flex-shrink: 0;
    font-size: 20px;
	font-family:'DejaVu Sans',sans-serif;
    font-weight: 600;
    line-height: var(--f7-label-line-height);
    color: white;
    transition-duration: .2s;
    transition-property: transform,color;
}

.login-screen .page, .login-screen-content, .login-screen-page {
    background:linear-gradient(#EFBABB,#e88b8b) ;
    color: black;
    font-family:'DejaVu Sans'sans-serif;
    font-size: 10px;
	padding-top: 20px;
}

.list input[type=date], .list input[type=datetime-local], .list input[type=email], .list input[type=month], .list input[type=number], .list input[type=password], .list input[type=search], .list input[type=tel], .list input[type=text], .list input[type=time], .list input[type=url], .list select {
    width: 100%;
    height: var(--f7-input-height);
    color: black;
    font-size: var(--f7-input-font-size);
    background-color: var(--f7-input-bg-color,transparent);
    padding-left: var(--f7-input-padding-left);
    padding-right: var(--f7-input-padding-right);
}


.item-input2{
	background-color:white;
	position:relative;
	left:120px;
	margin-top: -30px;
	border-radius: 20px;
}

.item-input1{
	
	background-color:white;
	position:relative;
	left:120px;
	margin-top: -30px;
	margin-bottom: 20px;
	border-radius: 20px;
	
}

h1 {
    display: block;
    font-size: 40px;
    font-family: 'DejaVu Sans'sans-serif;
	padding-bottom: 1px;
}

.item-input3{
	
	background-color:white;
	position:relative;
	left:120px;
	margin-top: -70px;
	margin-bottom: 20px;
	border-radius: 20px;
	
}
.list .button button-fill login-screen-close{
background-color:white;

}

.popup {
	background:linear-gradient(#EFBABB,#e88b8b) ;
	
}

.popup h3 {
	text-align: center;
    display: block;
    font-size: 15px;
    margin-block-start: 20px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 200;
	padding-bottom: 10px;
}

.popup h1{
	text-align: center;
	font-size: 80px;
	font-weight: 200;
	
}



.popup h5{
	text-align: center;
	padding-top: 0;
	font-size: 40px;
	position: relative;
	right: 10px;
	top:-90px;
	font-weight: 600;
}
.popup{
	 padding-top: 150px;
	
	
}


h1 {
text-align: center;
	font-size: 55px;
	font-weight: 200;
}

h5{
	text-align: center;
	padding-top: 0;
	font-size: 30px;
	position: relative;
	right: 13px;
	top:-60px;
	font-weight: 600;
	
	
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 100;
	text-align: center;
	font-size: 20px;
	color:white;
}
.block h3{
	font-weight: 100;
	text-align: justify;
	font-size:20px;

}
.block h4{
	color:white;
	font-weight: 200;
	font-size: 15px;
	line-height: 70%;
}

.block1 h3{
	font-weight: 100;
	text-align: justify;
	font-size:20px;
	
}

.block1 h4{
	color:white;
	font-weight: 200;
	font-size: 15px;
	line-height: 70%;
	
	
}

.block1 h5{
	
	color:white;
	font-weight: 200;
	font-size: 15px;
	
	position:relative;
	left:-100px;
	padding-top: 110px;
	
}

.block1 h6{
	color:white;
	font-weight: 200;
	font-size: 15px;
	padding-bottom: 0px;
	position:relative;
	left:-100px;
	
	
	
}

.block3 h5{
	color:white;
	font-weight: 200;
	font-size: 15px;
	position:relative;
	left:-10px;
	padding-top: 0px;
	
	
	
	
}
.tarjeta{
	height: 50px;
	position: relative;
	left: 70px;
}

.block-strong {
    color: white;
    padding-top: var(--f7-block-padding-vertical);
    padding-bottom: var(--f7-block-padding-vertical);
    background-color: black;
}


.buttoncarrito .btn-primary{
	border: 0;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	font-size: 20px;
	text-align: center;
	color: white;
	background-color: var(--f7-theme-color);
	position: absolute;
	top: 500px;
	right: 20px;
	

}




.page{
	background:#000000;
}